<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is Thangweb">
        <title>
            Thang's Web
        </title>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="upload">
 <div class="upload-files">
  <header>
   <p>
    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    <span class="up">up</span>
    <span class="load">load</span>
   </p>
  </header>
  <div class="body" id="drop">
   <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
   <p class="pointer-none"><b>Drag and drop</b> files here <br /> or <a href="" id="triggerFile">browse</a> to begin the upload</p>
			<input type="file" multiple="multiple" />
  </div>
  <footer>
   <div class="divider">
    <span><AR>FILES</AR></span>
   </div>
   <div class="list-files">
    <!--   template   -->
   </div>
			<button class="importar">UPDATE FILES</button>
  </footer>
 </div>
</div>


        <p style="color:cyan;background-color:blue;/">
            I am learning HTML 5
        </p>
        <header>
            <nav>
                <a href="https://www.kite.com/python/answers/how-to-go-up-one-directory-in-python#:~:text=Use%20os.,to%20go%20up%20one%20directory&text=Call%20os.-,path.,move%20to%20this%20new%20directory." target="_blank">
                    <h1>My external link</h1>

                </a>


            </nav>

        </header>
        <main>
            <article>
                Brom bor
                <section>
                    Brom vrom
                </section>
                    Brom brom brom
            </article>

        </main>
        <footer>

        </footer>
    </body>
</html>